*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body{
    background-color: rgb(2, 2, 49);
    width: 100vw;
    height: 100vh;
}
#enter,#main,#status{
    background-color: aliceblue;
    width: 70vw;
    margin:10vh 15vw auto 15vw;
    border-radius: 10px;
    padding: 2rem;
}
form{
    text-align: center;
    font-size:2vw;
    margin-top: 3vh;
}
#submit{
    margin-top: 3vh;
}
#namedisplay{
    background-color: aliceblue;
    color:rgb(2, 2, 49); 
    padding:2vh;
    font-size: 2vw;
  width:fit-content;
  margin-inline-start: 80vw;
  margin-top: 4vh;
}
#time{
    text-align: right;
    font-size:1.5vw ;
}
h1{
    border-bottom: 2px solid black;
    padding-bottom: 1.4rem;
    text-align: center;
    font-size: 3vw;
}
#question{
    padding-top: 1.4rem;
    padding-bottom: 2.4vh;
    text-align: center;
    font-size: 2.1vw;
}
#options{
    text-align: center;
}
.opt,#name{
    width:50vw;
    height: 5vh;
    font-weight: bold;
    margin-top: 1.5vh;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.opt:hover,.select{
    background-color: black;
    color:white
}
#nn{  
    padding-top: 4vh;
}
#next,#end,#submit,#sub,#re{
    text-align: center;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
    background-color:rgb(2, 2, 49);
    color: white;
    border-radius: 8px;
}
#status{
margin-top: 1.5vh;
padding: 1rem;
}
#no{
    text-align: center;
}
.n{
    display: inline;
    background-color:red;
    color: white;
    border-radius: 8px;
    padding:0.8vh 0.8vw;
    margin:auto 1vw;
}